<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <a href="https://www.kookmin.ac.kr/" target="_blank"><img src="{{ site.url}}{{ site.baseurl}}/images/kookmin-logo.png" width="175px" style="margin-top: 10px;" alt="Kookmin University"></a>
		</div>
		<div class="col-sm-4">
		  <p style="font-size: 12px; text-align: center;">
			Computational Intelligence Laboratory
			<br>
			School of Electrical Engineering
			<br>
			College of Creative Engineering
			<br>
			Kookmin University
		  </p>
		</div>
		<div class="col-sm-4">
		  <p style="font-size: 12px; text-align: right;">
			Future Hall 408, Kookmin University,
			<br>
			77 Jeongneung-ro, Seongbuk-gu, Seoul 02707, Korea
			<br>
			+82-2-910-4688
		  </p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
