
<div class="well" style="padding: 10px 10px 10px 10px;">
<h4 style="margin-top: 0px;">Latest News</h4>

<div class="news-list">
{% for article in site.data.news limit:8 %}
  <p class="news-list__item">
    <span class="news-list__date">{{ article.month }} {{ article.year }}</span>
    <span class="news-list__separator">-</span>
    <span class="news-list__text">{{ article.description }}</span>
  </p>
{% endfor %}
</div>

<div class="row">
<div class="col-sm-12">
<span><a href="{{ site.url }}{{ site.baseurl }}/allnews.html" style="float: right;">... see all News</a></span>
</div>
</div>
</div>
