
<div class="well" style="padding: 10px 10px 10px 10px;">
<h4 style="margin-top: 0px;">Latest News</h4>

<div class="news-list">
{% assign latest_news_limit = 12 %}
{% for article in site.data.news limit:latest_news_limit %}
  {% assign month_number = article.month | plus: 0 %}
  <p class="news-list__item">
    <span class="news-list__date">{{ article.year }}. {{ month_number | prepend: '0' | slice: -2, 2 }}.</span>
    <span class="news-list__text">{{ article.description | markdownify | remove: '<p>' | remove: '</p>' }}</span>
  </p>
{% endfor %}
</div>

<div class="row">
<div class="col-sm-12">
<span><a href="{{ site.url }}{{ site.baseurl }}/allnews.html" style="float: right;">... see all News</a></span>
</div>
</div>
</div>
